.cardMain {
    padding: 0px;
    margin: 0px;
    width: 17vw;
}
.imageMain{
    /* border: 1px solid red; */
    width: 40%;
    margin: auto;


}
.btnCart{
    border: none;
    background-color: rgb(0, 213, 228);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}